/* .mainGroup_area{
    width: 100%;
    padding-top: 1%;
}
.search_and_notify{
    width: 100%;
}
.search_and_notify_container{
    width: 25%;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
}
.table_maingroup{
    margin-top: 7%;
}
.table_maingroup_container{
    clear: both;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}
.notify{
    position: relative;
    width: 25px;
    height: 25px;
} */


.active {
    color: #30a95a;
    font-weight: 600;
}

.icon_actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_edit {
    color: #faad14;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.4;

    &:hover {
        color: #de9b16;
        transition: 0.4;
    }
}

.icon_delete {
    color: #d9534f;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4;

    &:hover {
        color: #8d2c2a;
        transition: 0.4;
    }
}