/* .nameAndId{
    display: flex;
    width: 100%;
    justify-content: space-between;
} */
.modal{
  width: 76% !important;
}
.employeeInfo{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
 
}
.employeeInfo>div{
  width: 25%;
  margin-bottom: 2%;
}
.container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.title{
  font-weight: 700;
  font-size: 20px;
  color:#30a95a;
}
.id_field,.name_field{
    /* width: 50%; */
}
.status_field{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.switchBtn{
  background-color: #5cb85c !important;
}
#statusLabel{
  margin-right: 10px;
}
.btn_cancel, .btn_submit{
  width: 90px;
  height: 30px;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 3px;
  border: none;
}
.btn_cancel{
  margin-right: 7px;
}
.btn_submit{
  background-color:#30a95a;
  color: white;
}
.btn_submit:hover{
  background-color: #5cb85c;
}
.btn_cancel:hover{
  background-color: #bfbfbf;
}
.divInput{
  width: 100% !important;
}
.divInput>*{
  width: 100%;
}
.errRequired{
  color: red;
}