.nameAndIdMainGroup{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.title{
  font-weight: 700;
  font-size: 20px;
  color:#30a95a;
}
.id_field,.name_field{
    /* width: 50%; */
}
.status_field{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.switchBtn{
  background-color: #5cb85c !important;
}
#statusLabel{
  margin-right: 10px;
}
.btn_cancel, .btn_submit{
  width: 90px;
  height: 30px;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 3px;
  border: none;
}
.btn_cancel{
  margin-right: 7px;
}
.btn_submit{
  background-color:#30a95a;
  color: white;
}
.btn_submit:hover{
  background-color: #5cb85c;
}
.btn_cancel:hover{
  background-color: #bfbfbf;
}