.bellIcon{
    color:#fbb301;
    font-size: 25px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}
.notifyQuanity{
    background-color: red;
    border-radius: 50%;
    width:15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 60%;
    z-index: 3;
}
.notifyQuanity>span{
    color: white;
    font-size: 10px;
}