.menu_area{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.vega_menu{
    /* display: flex; */
    margin-top: auto;
    margin-bottom: auto;
    /* background-color: yellow; */
}
.vega_menu>li{
    display: inline-block;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.4s;
    /* background-color: green; */
}
.list_icon{
    display: flex;
}
.list_icon > div{
    margin-right: 10px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
}
.dot_menu_item{
    width: 5px;
    height: 5px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.name_menu_item{
    color: #4a4a4a;
    font-weight: 600;
    font-size: 16px;
}
.icon_menu_item{
    font-size: 18px;
}
.div_cart,.div_love{
    position: relative;
    width: 100%;
    height: 100%;
}
.love_number,.cart_number{
    background-color: #92b65e;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    left: 18px;
    top: -3px;
    z-index: 3;
    display: flex;
    justify-self: center;
    align-items: center;
}
.love_number,.icon_heart,.icon_cart,.cart_number{
  position: absolute;
}
.icon_heart,.icon_cart{
    z-index: 2;
    left: 0; 
    right: 0; 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.love_number>span,.cart_number>span{
  color: white;
  font-size: 11px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
}
.search,.love,.cart{
    display: flex;
    justify-content: center;
    align-items: center;
}
