.modalChangePassword{
   
}
.div_changePassword{
    display: flex;
    margin-top: 20px;
}
.div_changePassword>div{
    width: 50%;
}
.custom_input{
    outline: none;
    border-radius: 3px;
    border: 1px solid #4a4a4a;
}
#errorCurrentPassword, #errorNewPassword, #errorConfirmNewPassword{
    color: red;
}