.mainGroup_area{
    width: 100%;
    padding-top: 2%;
}
.search_and_notify{
    width: 100%;
}
.search_and_notify_container{
    width: 25%;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
}
.table_maingroup{
    margin-top: 7%;
}
.table_maingroup_container{
    clear: both;
    /* background-color: white; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}
.bellIcon{
    color:#fbb301;
    font-size: 25px;
    position: absolute;
    z-index: 2;
}
.notify{
    position: relative;
    width: 25px;
    height: 25px;
}
.notifyQuanity{
    background-color: red;
    border-radius: 50%;
    width:15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 60%;
    z-index: 3;
   
}
.notifyQuanity>span{
    color: white;
    font-size: 10px;
   
}